#layout-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: #ffffff;
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 16px 28px;
}

.logo-divider {
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
}
