.tab-menu-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 30%;
}

.reset-button-container {
  text-align: right;
  margin-bottom: 10px;
}

#form-reset-button {
  color: white;
}

#tab-switch-button {
  border-radius: 100px;
}

.tabs-switch-container {
 overflow: hidden;
 border-radius: 5px;
 margin-bottom: -2rem;
}


